{% extends 'base.html' %}

{% block title %}
	头 部
{% endblock %}
{% block extcss %}
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
{% endblock %}

{% block content %}
	<!-- 头部 -->
	<div class="head">
		<div class="headl" >
			<img class="headLogo" src="/static/img/logLOGO.png"/>
		</div>
		<div class="headR">
			<span style="color:#FFF">欢迎: {{ username }}</span><a href="{{ url_for('user.logout') }}" target="_parent" rel="external">【退出】</a>
		</div>
	</div>
{% endblock %}


{% block extjs %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/public.js"></script>
{% endblock %}